@charset "utf-8";
/* 
	++++ Reset ++++
	++++ Preloader ++++
	++++ Landing Page ++++
	++++ Header ++++
	++++ Arrows ++++
	++++ Expertise ++++
	++++ About ++++ 
	++++ Portfolio ++++
	++++ Vimeo Video ++++
	++++ Flex Slider ++++
	++++ Image and Info ++++
	++++ About expertise and Portfolios ++++
	++++ Contact ++++
	++++ Basics WP Style ++++
	++++ Blog ++++

*/

/*****************************************************/
/* Reset */
/*****************************************************/

.opacity:hover {
	opacity: .6;
}

@font-face {
	font-family:sanskritimport;
	src: url("sanskrit.ttf");	
}
 
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
*{outline: none!important;}
strong{
	font-weight:bold;
}
 
body {
	color: #7a7a7a;
	font-family: 'Proxima-nova', serif;
	font-size: 14px;
	font-style: normal;
	line-height:1.5;
	overflow-x:hidden;

}
 body {
	/*overflow:hidden;*/
	height:100%;

}
body.modal-open {
    overflow: visible;
} 

li{
	line-height:28px;
}

html,body {
    margin: 0;
    padding: 0;
	width: 100%;
    height: 100%;
}
::-webkit-input-placeholder { /* WebKit browsers */
	color: #000;
	font-size:1em;
	font-family: 'Proxima-nova', serif;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #000;
	font-family: 'Proxima-nova', serif;
	font-size:1em;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #000;
	font-family: 'Proxima-nova', serif;
	font-size:1em;
	opacity: 1;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #000;
	font-family: 'Proxima-nova', serif;
	font-size:1em;
} 
.ui-loader h1{
	display:none;
}
a:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

a:hover,a:active {
    outline: 0;
}

ul {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
    text-decoration: none;
}

a:focus {
 	color: #fff;
    text-decoration: none;
    outline: none;
}

h2{
	font-size:1.875em; /*30px*/
	font-family: 'Raleway', sans-serif;
}
h3{
	font-size:1.5em; /*24px*/
	text-transform:uppercase;
	font-weight:600;
	letter-spacing:0.4em;
	color:#000;
	margin-top:32px;
	margin-bottom:1px;
	font-family: 'Raleway', sans-serif;
	
}
h4{
	font-size:1.2em; /*18px*/
	font-family: 'Proxima-nova', serif;
}
h5{
	font-size:0.93em; /*15px*/
	font-family: 'Raleway', sans-serif;
}
h6{
	font-size:0.875em; /*14px*/
	font-family: 'Raleway', sans-serif;
}
.padding-none{
	padding:0;
}

.portfolio hr{
	margin:0;
}
.show-on-mobile {
	display:none;
}

.hr-seperator{
	width:80px;
	height:3px;
	background-color:#666;
	margin: 1.7em auto !important;
}

.fade.in {
	transform: scale(1);
	transition: all 0.4s ease 0s;
}

.Proxima-nova {
	font-family: 'Proxima-nova', serif;
}

.align-center {
	margin:0 auto;
	overflow:hidden;
	display:block;
	clear:both;
	text-align:center;
	float:none;
}

/*****************************************************/
/* Preloader */
/*****************************************************/
.header-hide{
	opacity:0;
}
.stop-scrolling {
  height: 100% !important;
  overflow: hidden!important;
  position:fixed!important;

}
#preloader{
	background:#fff;
	position:fixed;
	z-index: 1000000000;
	top: 0;	
}
.preloading{
	top: 0;
	height:100%;
	width:100%;
}
.loader{
     animation:myfirst 1s linear infinite;
    -moz-animation:myfirst 1s linear infinite; /* Firefox */
    -webkit-animation:myfirst 1s linear infinite; /* Safari and Chrome */
    -o-animation:myfirst 1s linear infinite; /* Opera */    
    background-image: url("../img/Loading.png");
	height: 100%;
    left: 0;
    margin-top: 0;
    opacity: 0;
    overflow-y: hidden;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: visible;
    white-space: nowrap;
    width: 100%;
}

@keyframes myfirst
{
from {background-position: 0 top;}
to {background-position: 100px top;}
}

@-moz-keyframes myfirst /* Firefox */
{
from {background-position: 0 top;}
to {background-position: 100px top;}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
from {background-position: 0 top;}
to {background-position: 100px top;}
}

@-o-keyframes myfirst /* Opera */
{
from {background-position: 0 top;}
to {background-position: 100px top;}
}


@-webkit-keyframes myfirst {
0% {
    background-position: 0 top;
}

100% {
    background-position: 100px top ;
}
}
@-moz-keyframes myfirst {
0% {
    background-position: 0 top;
}

100% {
    background-position: 100px top ;
}
}
@keyframes myfirst {
0% {
    background-position: 0 top;
}

100% {
    background-position: 100px top ;
}
}
.preloading .loader {
    opacity: 1;
}

/*****************************************************/
/* Landing Page */
/*****************************************************/
.landing-pname {
   	color: #28B78D;
    font-size: 8em;
    font-weight: 599;
   /* letter-spacing: 0.em;/*/
    text-transform: uppercase;
	font-family: 'sanskritimport', sans-serif;
}
#title_hr {
	border-top: 3px solid #8A949B;
	margin: 0.6em auto;
    width: 50px;
}
.landing-intro {
	color: #FAFAFA;
    font-size: 1.3em;
	margin-top: 1.2em;
}
.landing-overlay {
    background: none repeat scroll 0 0 rgba(15, 23, 38, 0.6);
    height: 100%;
    position: absolute;
    width: 100%;
	top:0;
}
.animate-landing {
    animation: 60s ease 0s normal none infinite back_animation;
    background-attachment: scroll;
    background-position: center center;
    height: 100%;
    position: absolute;
	top:0;
	left:0;
    width: 100%;
    z-index: -1;
    background-repeat: no-repeat;
  	background-size: cover;
}
.social-icons {
  background: #ceccc6;
  height: 550px;
  padding: 0;
  font-family: 'Proxima-nova', serif;
  font-size: 1.3em;
}
.social-icons .facebook {
  border: 1px solid #C0BFBC;
  border-top: none;
  padding: 0;
}
.social-icons .tweeter {
  border-bottom: 1px solid #C0BFBC;
  border-right: 1px solid #C0BFBC;
  padding: 0;
}
.social-icons .linkedin {
  border-right: 1px solid #C0BFBC;
  border-left: 1px solid #C0BFBC;
  padding: 0;
}
.social-icons .dribble {
  padding: 0;
}
.social-icons .social-icon {
  display: block;
  min-height: 275px;
  padding: 116px 0 0;
}

@-webkit-keyframes back_animation {
	0% {
	-webkit-transform: scale(1);
	}

	50% {
	-webkit-transform: scale(1.4);
	}

	100% {
	-webkit-transform: scale(1) ;
	}
}
@-moz-keyframes back_animation {
	0% {
	-moz-transform: scale(1);
	}

	50% {
	-moz-transform: scale(1.4);
	}

	100% {
	-moz-transform: scale(1) ;
	}
}
@-o-keyframes back_animation {
	0% {
	-o-transform: scale(1);
	}

	50% {
	-o-transform: scale(1.4);
	}

	100% {
	-o-transform: scale(1) ;
	}
}
@keyframes back_animation {
	0% {
	transform: scale(1);
	}

	50% {
	transform: scale(1.4);
	}

	100% {
	transform: scale(1) ;
	}
}
  
.padding-left0{
	padding-left:0;
}
.padding-right{
	padding-right:0;
}
.landing-text-pos{
    height: 100%;
    position: absolute;
    top: 39.1%;
}

#sec_2{
	padding-top:57px;
}
#sec_1{
	background:none repeat scroll 0 0 rgba(15, 23, 38, 0.6);
	position:relative;
	overflow:hidden;
}

/*****************************************************/
/* Header */
/*****************************************************/
.header{
	width:100%;
	position:fixed;
	z-index:3;
	-moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.scroll-header, .st-multipage .header{
	background: none repeat scroll 0 0 #696969;
}


.navbar.navbar-default{
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-brand {
    color: #FAFAFA;
    font-family: sanskritimport;
	font-size: 3.3em;
    font-weight: 500;
    letter-spacing: 0.0em;
	text-transform:uppercase;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
    font-family: raleway;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.3em;
    text-transform: uppercase;
}
.navbar-nav > li > a {
    padding-bottom: 25px;
    padding-top: 25px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
	color:#FAFAFA;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color:#666;
	background:none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background:none;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color:#fff;
}
#example-navbar-collapse{
	float:right;
}
.navbar-brand.style6{
	padding-top: 25px;
	margin-left: -10%;
}

/*****************************************************/
/* Arrows */
/*****************************************************/

.black-close:hover {
 color:#000;
}

.black-close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #000;
    font-size: 2em;
    position: absolute;
    right: 10px;
    text-shadow: none;
    top: 10px;
}

.close.nav-close {
    color: #fff;
    font-size: 1em;
    outline: medium none;
    text-shadow: none;
}
.close.nav-close{
	opacity:1 !important;
}

.close {
	opacity:1 !important;
}

.slider-info i {
    color: #fff;
    display: block;
    height: 100%;
    width: 100%;
}
.slider-info{
	opacity:1 !important;
}

.slider-info {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    font-size: 1.8em;
    outline: medium none;
    position: absolute;
    right: 60px;
    top: 15px;
    transition: all 0.2s ease-in-out 0s;
    z-index: 100;
}

/*****************************************************/
/* Expertise  */
/*****************************************************/

.icons-row-1 {
	display:block;
	padding:0;
	padding-top: 74px;
	min-height:275px;
	text-align:center;
}

.icons-edit {
	background:none repeat scroll 0 0 #e9e6df;
    border-radius: 50%;
	color: #000;
    font-size: 3em;
    height: 118px;
    min-height: 20px;
    padding: 36px 26px 26px;
    width: 118px;
	-webkit-transition: all .2s  ease-in-out 0s;
	-moz-transition: all .2s  ease-in-out 0s;
	-ms-transition: all .2s ease-in-out 0s;
	-o-transition: all .2s ease-in-out 0s;
	 transition: all 0.2s ease-in-out 0s;
}

.icons-edit:hover,.icons-edit-about:hover {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.6);
    transition: all 0.5s ease 0s;
}

.icon-tag {	/* Changed*/
	color: #000;    display: block;    font-size: 0.9em;    font-weight: 300;    letter-spacing: 0.3em;    margin: 0;    padding-top: 7%;    text-transform: uppercase;
}

.exp-title {
	color: #000;
    font-size: 1.6em;
    letter-spacing: 0.1em;
    padding-top: 128px;
    text-transform: uppercase;
}
.exp-title hr {
	border-bottom: 2px solid #b7b7b7;
    width: 400px;
}

#expertise_intro h4{
	padding:0 14%;
}
#expertise_intro h3,
#portfolio_intro h3{
	margin-top:0;
}
/*****************************************************/
/* About */
/*****************************************************/
.about-content {
    padding: 6% 0;
}
.about-me{text-align: center;}
.about-me h3.icons-text{	
	margin-top:0;	
	color: #000;   
	display: block;   
	font-size: 0.9em;  
	font-weight: 300; 
	letter-spacing: 0.3em; 
	margin: 0;   
	text-transform: uppercase;
	}
	
.about_intro h3{	
	margin-top:0;
	}

.intro {
    color: #000;
    font-size: 1.875em;
    padding: 0 4px;
}

.tabel-cell {
	display:table-cell;
	vertical-align:middle;

}

.downld-resume  {
	background: none repeat scroll 0 0 #666;
    cursor: pointer;
    display: block;
    font-size: 1.1em;
	font-family: 'Raleway', sans-serif;
    margin: 50px auto 0;
    padding: 13px 0;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
	letter-spacing: 0.2em;	
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	 transition: all 0.3s ease 0s;
	z-index: 1;
}

.btn-effect-resume:after {
	background: none repeat scroll 0 0 #000;
	height: 100%;
	left: 0;
	top: 0;
	width: 0;
	z-index:-1;
	content: "";
	position: absolute;
	-webkit-transition: all 0.3s ease 0s;
	-moz-transition: all 0.3s ease 0s;
	-ms-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.btn-effect-resume:hover:after, .btn-effect-resume:active:after {
	width: 100%;
}

/*****************************************************/
/* Portfolio */
/*****************************************************/
.row1 {
	padding-bottom:29px;
	padding-top:44px;
}
.portfolio-intro h4{
	font-size:1.4em;
}
.pop-up-block{
	background: #fff;

}
.viewmore {
	background: none repeat scroll 0 0 #666;
	border: medium none;
	color: #fff;
	display: block;
	font-size: 0.875em;
	font-weight: 300;
	height: 35px;
	letter-spacing: 2px;
	margin-bottom: 37px;
	margin-top: 0;
	padding: 12px;
	text-transform: uppercase;
	width: 121px;
	font-family: 'Raleway', sans-serif;
	line-height:1;
}

.grid-gallery .viewmore{
	margin-bottom:10px;
} 

.p-intro-text{
	margin:17px auto;
}

.f-download{
	color:#fff;
	background:#666;
	font-weight:300;
	font-size:0.875em;
	text-transform:uppercase;
	display:block;
	width:300px;
	margin:49px auto;
	letter-spacing:2px;
}
.p-copyright{
	padding-bottom: .5%;
    padding-top: 0%;
    background-color: #f4f4f4;
	
}
#p-footer .icon-flag{
	margin-bottom:25px;
	font-size:2.5em;
}

figure{
	width:100%;
}
figure.effect-bubba {
	width:100%;
	background: rgba(0, 0, 0, 0.9);
	font-size:0;
	height: 300px;
}

figure.effect-bubba img {
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
	min-width:100%;
	height: 300px;
}


figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}


figure.effect-bubba h2 {
    font-family: 'Raleway',sans-serif;
	font-weight:500 !important;
    font-size: 18px !important;
    position: absolute;
    top: 28%;
	color:#fff;
	font-size:18px!important;
   -webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
	text-transform:uppercase;
    width: 100%;
	z-index:2;
}

figure.effect-bubba button{
	padding:8px;
	opacity: 1;
}

figure.effect-bubba #view_grid {
	cursor:pointer;
}
figcaption{
	position:absolute;
	bottom:0;	
	top:0;
	left:0px;
	right:0px;
}

figcaption>h2{
	font-size:1.3em!important;
	font-weight:500 !important;
	letter-spacing:0.4em;
	text-transform:uppercase;
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	
}

figure.effect-bubba:hover button,
figure.effect-bubba:hover #view_grid {
	opacity: 1;
}

.btn-effect:after {
	background: none repeat scroll 0 0 #000;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 0;
	z-index: -1;
}

figure.effect-bubba button {
	font-family: 'Raleway',sans-serif;
	padding: 8px;
}

/*****************************************************/
/* Vimeo Video */
/*****************************************************/

.vimeo-info-font {
    font-size: 0.875em;
    text-align: left;
}

#content-head{
	font-family: 'Raleway',sans-serif;
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 0.4em;
	margin-bottom: 12px;
	margin-top: 10%;
	text-transform: uppercase;
}
.close-vinfo-bt, .close-info-bt {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: #000;
    font-size: 2em;
    margin-left: 25px;
    margin-top: 10px;
}
#content {
	padding-top:66px;
}
.content-head {
    color: #000;
    font-family: 'Raleway',sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 0.4em;
    margin: 0;
    padding-left: 27px;
    text-transform: uppercase;
}
.portfolio .vimeo-info-hr {
    border-top: 1px solid #e1e1e1;
    float: left;
    margin-bottom: 22px ;
    margin-top: 22px;
    width:100%;
}
.para-vimeo-info {
	color:#7a7a7a;
	text-align:left;

}
.vimeo-info-font {
	font-size:0.875em;
}
.detail-span {
	color:#7a7a7a;
	
}
.dc-span {
	color:#000;
	
}
.first-para {
	margin-bottom: 16px;
	font-size:1.1em;
	padding-left:6px;
}
.second-para {
	font-size:1.1em;
	padding-left:6px;
}
.detail-address {
	font-size:1.1em;
	padding: 0 38px;
    text-align: left;
	padding-left:27px;
}
.first-para p, .second-para p {
	padding:0 22px;
	font-size:1.1em;
	
}

.detail-address div {
	padding-bottom:4px;
}

.content-head {
	padding-left: 27px;
}
.hr-container {
	padding-left: 27px;
}

/*****************************************************/
/* Flex Slider */
/*****************************************************/

.flex-text h4{
	color:#7a7a7a;

}
.flex-text h3{
	font-family: 'Raleway',sans-serif;
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 23px;
    margin-top: 23px !important;
}
.flex-text {
    background: none repeat scroll 0 0 #ceccc6;
    font-family: 'Proxima-nova',serif;
    padding-bottom: 36px;
    padding-top: 9px;
    text-align: center;
}
.flex-below-text{
	margin-top:70px;
	margin-bottom:70px;
	line-height:20px;
}
.flex-below-text li{
	font-size:0.875em; /*14px*/
}
.flex-below-text 
{
	color:#7a7a7a
}
.seperator {
    background: none repeat scroll 0 0 #E9E9E9;
    float: none;
    height: 1px;
    margin-bottom: 26px;
}
.flex-below-text span{
	margin-right:3px;
}

#image_info1 .detail-address,
#image_info2 .detail-address
{
	padding-left:0;
}
/**Pop up vertically center***/
.modal-dialog {
  position:absolute;
  top:50% !important;
  transform: translate(0, -50%) !important;
  -ms-transform: translate(0, -50%) !important;
  -webkit-transform: translate(0, -50%) !important;
  margin:auto 0%;
  width:100%;
  height:100%;
}
.modal-content {
  border: medium none;
  border-radius: 0;
  min-height:100%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  
}
.modal-body {
  position:absolute;
  top:45px;
  bottom:45px;
  left:0;
  right:0;
  overflow-y:auto;
}
.modal-footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
}

#myLargeModal{
	overflow:hidden;
}

/*****************************************************/
/* Image & Info */
/*****************************************************/

.image-n-info img{
	width:100%;
	margin-bottom:25px;
}
.image-n-info h4,
.image-n-info li,
.image-n-info span
{
   font-family: 'Proxima-nova', serif;
}
.info-text {

	font-size:1.1em;
}
.image-n-info li span{
	margin-right:3px;
}
.image-info{
	padding-left:15px;
	text-align:left;
}
.image-n-info h3{
	margin-top:0;
	font-weight:500;
	font-size:1.2em;
}

.image-info hr{
	margin-top:20px;
	margin-bottom:20px;
}

#image_info,
#image_info_2{
	overflow-y:hidden;
}

/*****************************************************/
/* About Expertise and Portfolio */
/*****************************************************/

.expertise-me,.contact-me{
	background:#f4f4f4;
	padding-top:6%;
	padding-bottom:6%;
}
.portfolio-me {
	padding-top:6%;
	padding-bottom:6%;
}
.icons-edit-about {
    background: none repeat scroll 0 0 #e9e6df;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #000;
    font-size: 3em;
    height: 100px;
    min-height: 20px;
    padding: 26px 14px;
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    width: 100px
}
.desc-text{
	font-size:1.3em;
}
.desc-icons {
	 padding-top:70px;
}
.expl-text {
	font-size: 1.2em;
	color: #7a7a7a;	
	margin-top: 25px;
}

.viewmore {
	background: none repeat scroll 0 0 #987f5b;
	border: medium none;
	color: #fff;
	font-size: 0.875em;
	font-weight: 300;
	height: 35px;
	letter-spacing: 2px;
	line-height: 1;
	margin-top: 0;
	padding: 12px;
	text-transform: uppercase;
}
.btn-effect {
	background: none repeat scroll 0 0 #666;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: 300;
    height: 35px;
    left: calc(50% - 60px);
    margin-top: 0;
    position: absolute;
    text-transform: uppercase;
    top: 49%;
    transition: all 0.3s ease 0s;
    width: 130px;
    z-index: 1;

}
.btn-effect:after {
	background: none repeat scroll 0 0 #000;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 0;
	z-index: -1;
}
.btn-effect:hover:after, .btn-effect:active:after {
width: 100%;
}

/*****************************************************/
/* Contact  */
/*****************************************************/
#contact_intro h3{
	margin-top:0;
}
#submit_btn{
	background: none repeat scroll 0 0 #666;
	background-image:url("../img/submit_hover.png");
	background-repeat: no-repeat;
	background-size: 0;
    border: medium none;
    color: #fff;
    display: block;
    font-family: 'Raleway',sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    height: 4em;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 3.31em;
    margin-top:3.31em;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
	position:relative;
}
#submit_btn:hover {background-size: 100%;}
.contact-info p{
	font-size:1.3em;
	color:#000;
}
.contact-info a{
	color:#000;
	margin-left:5px;
	text-decoration:underline;
}

.contact-form{
	display:table;
	height:100%;
	padding:0;
	top:0;
}

.contact-form h4
{
	color:#000;
	font-size:1.4em;
}

#contact_form{
	margin-top:3.125em;
}

.success
{
	color: #987f5b;
    font-size: 1.1em;
    margin-bottom: 1.2em;
    text-decoration: underline;
}
.inp-name, .inp-email, .inp-message {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color:#acacac;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
	color: #000;
    font-family: 'Proxima-nova',serif;
    font-size: 1.3em;
    resize: none;
    width: 100%;
	text-align:left;
	border-radius:0;
 
}

 .inp-name:focus, .inp-email:focus, .inp-message:focus{
       outline:none;        
}

.inp-name,.inp-email,.inp-message{
	height:3.5em;
	
}
.inp-name{
	margin-bottom:1.5em;
}
.inp-email{
	margin-bottom:1.5em;
}

.social-icon a{
	border-bottom: 2px solid #666;
    color: #000;
    display: inline-block;
    font-size: 1.125em;
    margin-top: 2%;
    padding-bottom: 0.3em;
	margin-right:3%;
}

.social-icon a:last-child{
	margin-right:0;
}

.cont-detail{
	margin-top:5%;
}
.phone{
	margin-bottom:3%;
}
.email{
	margin-top:3%;
}
.social-logo {
    display: inline-block;
}
a.fb:hover{
	border-color:#2c68b2;
	color:#2c68b2;
}
a.twitter:hover{
	border-color:#00bff3;
	color:#00bff3;
}
a.linkedin:hover{
	border-color:#22a0c7;
	color:#22a0c7;
}
a.dribbble:hover{
	border-color:#f06eaa;
	color:#f06eaa;
}
.btn-effect-send:after {
	background: none repeat scroll 0 0 #000;
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transition: all 0.3s ease 0s;
	width: 0;
	z-index: -1;
}

.btn-effect-send {
	background: none repeat scroll 0 0 #666;
    border: medium none;
    color: #fff;
    cursor: pointer;
    font-size: 12px !important;
    font-weight: 300;
    height: 35px;
    margin-top: 0;
    position: absolute;
    text-transform: uppercase;
    top: 49%;
    transition: all 0.3s ease 0s;
    width: 130px;
    z-index: 1;

}

.btn-effect-send:hover:after, .btn-effect-send:active:after {width: 100%;}
.gray a{color:#7A7A7A;}
.error404 .gray{margin-top:50px;}
.portfolio-item-wrap {position: relative;margin: 30px 0;max-height: 347px;overflow: hidden;}

.content-wrap-in {overflow: hidden;position: relative;}
.logged-in .fa-bars.bt-menu-trigger{top: 36px;}
.site-logo {cursor: pointer;}
.logged-in .close-info-bt, .logged-in .close-vinfo-bt, .logged-in .overlay-close, .logged-in .slider-info, .logged-in .black-close, .logged-in .slideshow nav span.nav-close{
    margin-top: 50px;
}

/*Contact form alert*/
.wpcf7-not-valid-tip{display: none!important;}
body .wpcf7-response-output {border: 1px solid #666; padding: 10px; margin: 0 0 4em 0; text-align: center;}
.wpcf7 input, .wpcf7 textarea {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border-color: #acacac;
	border-image: none;
	border-style: none none solid;
	border-width: medium medium 1px;
	color: #000;
	font-family: 'Proxima-nova',serif;
	font-size: 1.3em;
	resize: none;
	width: 100%;
	text-align: left;
	border-radius: 0;
}
span.wpcf7-form-control-wrap {display: block;}

.wpcf7 input[type=submit] {
    background: none repeat scroll 0 0 #666;
    background-image: url("../img/submit_hover.png");
    background-repeat: no-repeat;
    background-size: 0;
    border: medium none;
    color: #fff;
    display: block;
    font-family: 'Proxima-nova',sans-serif;
    font-size: 0.875em;
    font-weight: 300;
    height: 4em;
    letter-spacing: 2px;
    line-height: 1;
    margin-bottom: 3.31em;
    margin-top: 3.31em;
    padding: 12px;
    text-transform: uppercase;
    width: 100%;
    position: relative;
    text-align: center;
}
.wpcf7 input[type=submit]:hover {background-size: 100%;}


/*404*/
.error404 .header{background: #0f1726;}
.error404 #content {padding-top: 166px;}

/*Slider*/
.full-screen-slider, .full-screen-slider .owl-stage-outer, .full-screen-slider .owl-stage, .full-screen-slider .owl-item{height:100%; overflow:hidden;}
body .full-screen-slider .owl-item img {min-height: 100%;width: auto;min-width: 100%;height: auto;position: absolute;left: 50%;-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.owl-carousel-flex .owl-dots, .full-screen-slider .owl-dots {position: absolute;bottom: 5%;width: 100%;text-align: center;}
.owl-carousel-flex .owl-dot, .full-screen-slider .owl-dot {display: inline-block;margin: 0 5px;}
.owl-carousel-flex .owl-dot span, .full-screen-slider .owl-dot span {display: block;width: 8px;height: 8px;background: #000;border-radius: 50%;}
.owl-dot.active span, .owl-dot:hover span{background:#fff;}
.full-screen-slider .owl-prev, .full-screen-slider .owl-next {top: 50%;margin-top: -15px;position: absolute; opacity:0.6;}
.full-screen-slider .owl-prev:hover, .full-screen-slider .owl-next:hover{opacity:1;}
.full-screen-slider .owl-prev{left:10px;}
.full-screen-slider .owl-next {right:10px;}

/*Background slider*/
.owl-carousel.bg-slider{height:100%; position:absolute; z-index:0;}
.bg-slider:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	background: none repeat scroll 0 0 rgba(15, 23, 38, 0.6);
	width: 100%;
	height: 100%;
}
.customNextBtn, .customPrevBtn {
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -14px;
	color: #fff;
	opacity: 0.7;
}
.customPrevBtn {left:30px;}
.customNextBtn, .customPrevBtn {right: 30px;}
.customNextBtn, .customPrevBtn {opacity: 1;}

/*Nav menu style 5*/
nav.navbar.navbar-default.menu-style-5 {position: absolute;}
.vc_row.wpb_row.vc_row-fluid{position:relative; overflow:hidden;}
.video-wrap {position: absolute;min-width: 100%;min-height: 100%;left: 50%;top: 50%; -ms-transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
.opacity-bg {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}

/*Nav menu style 4*/
.header-sticky {
	color: #fff;
	font-family: raleway;
	font-size: 0.8em;
	font-weight: 500;
	letter-spacing: 0.4em;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 0;
	box-sizing:border-box;
	left: 0;
	right: 0;
	transform: translateZ(0);
	-webkit-transition: all .2s 0 ease-in-out;
    -moz-transition: all .2s 0s ease-in-out;
    -ms-transition: all .2s 0 ease-in-out;
    -o-transition: all .2s 0 ease-in-out;	
	transition: all .2s 0s ease-in-out;
}
.sticky-wrapper {
	left: 0;
	position: fixed;
	right: 0;
	z-index: 4;
	transform: translateZ(0);
}
#trigger_overlay2 {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
	border: medium none;
	outline: 0 none;
	right: 20px;
	top: 20px;
}
.head-p-name{cursor:pointer;}
body .nav.navbar-nav>li>a{padding-left: 9px; padding-right: 9px;}

/* Basics WP Style
-------------------------------------------------------------- */
.sticky, .gallery-caption, .bypostauthor{position: relative;}
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}
em, i {font-style:italic;}

/*404*/
.error-404-mess {text-align: center; padding: 5% 0 15% 0;}
.error-404-mess a {display: inline-block; margin-top: 20px; font-size: 1.2em;}
.error-code {font-size: 2.5em;}
.error-mess {font-size: 1.5em; line-height: 2em;}

/* Blog
-------------------------------------------------------------- */
.content-wrap-in.no-vc{padding-top:50px; padding-bottom:50px;}
.content-wrapper {position: relative;}
body .content-wrapper a{color: #666;}
body .content-wrapper a:hover{color: #333;}
.cat-header{
	position: relative;
	width: 100%;
	display: block;
	vertical-align: middle;
	text-align: center;
	height: 400px;
	overflow:hidden;
}
.header-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-position: center center;
	background-size: cover;
	background-attachment: scroll;
}
.cat-header h1{padding: 5% 0 4% 0;}
.blog-content{position:relative; padding-top:70px;}
.blog-post-img {position: relative;overflow: hidden;}
.blog-post-img img{max-width:100%; height:auto;}
.blog-post-date {text-transform: uppercase;padding: 10px 0; color: #666;font-size: 0.8em;}
.blog-desc {color: #000;font-size: 1.2em;}
.bottom a {display: inline-block;}
.bottom {text-align: left;}
#sidebar aside {margin-bottom: 75px;}
.arrow.readmore {
	margin: 30px 0;
	background: none repeat scroll 0 0 #666;
	background-image: url("../img/submit_hover.png");
	background-repeat: no-repeat;
	background-size: 0;
	vertical-align: middle;
	border: medium none;
	color: #fff;
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 0.875em;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 1;
	padding: 10px;
	text-transform: uppercase;
	position: relative;
}
#sidebar ul.children {margin-left: 15px;}
.arrow.readmore:hover {background-size: 100%;}
.blog p, .single p {line-height: 1.7em; letter-spacing: 0.03em;}
.blog-title:hover h3{color: #666;}
.post-item {margin-bottom: 20px;}
body .nav-previous a, body .nav-previous a:hover, body .nav-next a, body .nav-next a:hover {color: #fff;}
.nav-previous, .nav-next {position: relative;color: #fff;}
body .nav-previous.downld-resume, body .nav-next.downld-resume{margin: 15px auto;width: 60%;position: relative;}
.nav-links {
  position: relative;
  width: 100%;
  clear: both;
  padding-bottom: 35px;
  text-align: center;
  font-size: 1.2em;
}
.nav-links a, .nav-links span {
  padding: 10px;
}
.blog-article {font-size: 1.2em;color: #000; max-width:100%; position:relative; overflow:hidden;}
embed, iframe{max-width:100%;}
.blog-article h2,  .blog-article h3,  .blog-article h4 {padding: 10px 0;}
.blog-content table {width: 100%; margin:20px 0;}
.blog-content table td {
	border: 1px solid rgb(190, 190, 190);
	vertical-align: middle;
	text-align: center;
}
.content-wrapper img {max-width: 100%;height: auto;}
.post-nav {border-top: 2px solid #666;padding: 5px;margin: 30px 0;}
.post-nav a {margin: 0 7px;}
.blog-article p {padding-bottom: 10px;}
.blog-article ol, .blog-article ul, .comment ol, .comment ul {margin: 10px 0 10px 30px;}
.blog-article ul, .comment ul  {list-style: inside;}
.entry-media {
	position: relative;
	overflow: hidden;
	width: 100%;
	margin: 20px 0;
}
.entry-media * {max-width:100%;}
.blog-content blockquote {border-left: 2px solid #666;margin-left: 30px;padding: 5px 0 0 20px;}
.blog-content pre {padding: 5px 10px;}
.post-meta {margin-top: 20px;font-size: 1.1em;background: rgb(234, 234, 234);}
.post-meta i {color: #000;padding-right: 5px;}
.post-meta p {margin-bottom: 15px;}
.blog-content input[type="text"], .blog-content input[type="password"], .blog-content input[type="text"], .blog-content input[type="email"], .blog-content textarea{border: 1px solid #666;font-size: 1.5em;padding: 0 5px;box-sizing: border-box;margin: 0; vertical-align:middle;}
.blog-content input[type="submit"] {
	background: none repeat scroll 0 0 #666;
	background-image: url("../img/submit_hover.png");
	background-repeat: no-repeat;
	background-size: 0;
	vertical-align:middle;
	border: medium none;
	color: #fff;
	display: inline-block;
	font-family: 'Raleway',sans-serif;
	font-size: 0.875em;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 1;
	padding: 10px;
	text-transform: uppercase;
	position: relative;	
}
.blog-content input[type="submit"]:hover {background-size: 100%;}
.sticky {background: rgb(244, 244, 244);padding: 0px 40px;}
.sub-menu {display: none;}
/*Comments*/
#respond {
  padding: 10px 20px 30px 20px;
  background: rgb(234, 234, 234);
  box-sizing: border-box;
  margin-top: 40px;
}
form#commentform input, form#commentform textarea {
	width: 100%;
	display: block;
	margin-bottom: 15px;
	padding: 8px;
	font-size: 1.2em;
	color: #000;
}
form#commentform input[type="submit"]{
	width: 100%;
	display: block;
	margin-bottom: 15px;
	padding: 10px;
	font-size: 1.2em;
	color:#fff;
}
form#commentform input::-webkit-input-placeholder, form#commentform textarea::-webkit-input-placeholder{color:#666;}
form#commentform input:-moz-placeholder, form#commentform textarea:-moz-placeholder{color:#666;}
form#commentform input::-moz-placeholder, form#commentform textarea::-moz-placeholder{color:#666;}
form#commentform input:-ms-input-placeholder, form#commentform textarea:-ms-input-placeholder{color:#666;}
#comment-list li.comment {
	margin-bottom: 20px;
	border-left: 1px solid #666;
	padding: 10px 0 10px 20px;
	color: #000;
	font-size: 15px;
}
#comment-list, #comment-list .children{list-style:none;}
#comment-list li.comment .comment-meta strong{text-transform:uppercase; font-weight:normal; display:block; line-height:1em;}
#comment-list{margin-top: 30px;}
#comment-list .comment-meta{margin-bottom:30px;}
#comment-list .comment-meta sub {font-size: 12px;}
#comment-list h1, #comment-list h2, #comment-list h3, #comment-list h4, #comment-list h5, #comment-list h6{padding:10px 0;}
.navbar-nav > .menu-item.menu-item-has-children > ul.sub-menu {position:absolute; padding: 0 20px 20px 20px; display:none; overflow:hidden; background: #0f1726; }
.navbar-nav > .menu-item.menu-item-has-children:hover > ul.sub-menu{display:inline-block;}
.section-alert {padding: 20px; text-align: center;}

/* Blog animation
-------------------------------------------------------------- */
body .content-wrapper a *, input[type="submit"]{-webkit-transition: All 200ms ease-in;
-moz-transition: All 200ms ease-in;
-o-transition: All 200ms ease-in;
-ms-transition: All 200ms ease-in;
transition: All 200ms ease-in;}
body .content-wrapper a:hover *, input[type="submit"]:hover{-webkit-transition: All 200ms ease-in;
-moz-transition: All 200ms ease-in;
-o-transition: All 200ms ease-in;
-ms-transition: All 200ms ease-in;
transition: All 200ms ease-in;}
textarea:focus, input:focus{outline: 0;}
.no-menu {color: #fff; padding-top: 13px; display: inline-block;}
span.no-menu.style2 a {color: #7a7a7a;}
span.no-menu.style2 {color: #7a7a7a; position: absolute;z-index: 9; left: 40px;}
.customNextBtn, .customPrevBtn {width: 28px;}
.col-lg-12.landing-text-pos {
  max-width: 80%;
  left: 37%;
}



/*.underline-animation{
  
  width: 100%;
  min-height: 200px;
  line-height: 200px;
  font-size: 3rem;
  font-weight: normal;
  text-align: center;
  color: rgba(0,0,0,.4);
  margin: 3rem auto 0;
}*/


.underline-animation > a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 16px;
  left: -1px;
  background: #28B78D;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .25s linear;
}
.underline-animation > a:hover:after,
.underline-animation > a:focus:after{
  visibility: visible;
  transform: scaleX(.83);
}

@keyframes hover-v {
  0% {
      transform: scaleX(0);
      height: 5px;
     }
  45% {   
      transform: scaleX(1.05);
      height: 5px;
     }
  55% {height: 5px;}
  100% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
}
@keyframes no-hover-v {
  0% {
      transform: scaleX(1.05);
      height: 3.8rem;
     }
  45% {height: 5px;}
  55% {   
      transform: scaleX(1.05);
      height: 5px;
      opacity: 1;
     }
  
  100% {
      transform: scaleX(0);
      height: 5px;
      opacity: .02;
     }
}

.animation-delay {
	visibility: visible;
	animation-duration: 1s;
	animation-delay: 1s; 
	animation-name:fadeInUp;
}

.logo-links {
    padding: 1%;
    background-color: #f4f4f4;
    text-align: center;
}
.logo1 {
	display: inline-block;
	margin-right: 17px;
	cursor: pointer;
	width: 50px;
}

.logo1:hover {
	opacity: .8;
}

.welcome-grids {
    float: left;
    width: 50%;
    padding-left: 0;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.animated.flip {
  -webkit-backface-visibility: visible;
  -ms-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

.view {
    overflow: hidden;
    position: relative;
    margin-top: 2em;
}
.view .mask, .view .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    padding: 4.5em 0;
}
.view img {
   display: block;
   position: relative;
}
.view h4 , .view h5 {
    text-transform: capitalize;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 3em;
    font-family: 'TulpenOne-Regular';
    letter-spacing: 2px;
}
.view p {
   font-size: 1em;
   position: relative;
   color: #fff !important;
   padding: 0.5em 0;
   text-align: center;
   margin:0;
}

.view-eighth .mask {
   background-color:rgba(0, 0, 0, 0.67);
   top: -200px;
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transition: all 0.3s ease-out 0.5s;
   -moz-transition: all 0.3s ease-out 0.5s;
   transition: all 0.3s ease-out 0.5s;
}
.view-eighth h4 , .view-eighth h5 {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.1s;
   -moz-transition: all 0.2s ease-in-out 0.1s;
   transition: all 0.2s ease-in-out 0.1s;
}
.view-eighth p {
   color: #333;
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out 0.2s;
   -moz-transition: all 0.2s ease-in-out 0.2s;
   -o-transition: all 0.2s ease-in-out 0.2s;
   -ms-transition: all 0.2s ease-in-out 0.2s;
   transition: all 0.2s ease-in-out 0.2s;
}
.view-eighth:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   top: 0px;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-animation: bounceY 0.9s linear;
   -moz-animation: bounceY 0.9s linear;
   -ms-animation: bounceY 0.9s linear;
   animation: bounceY 0.9s linear;
   height: 100%;
}
.view-eighth:hover h4 , .view-eighth:hover h5 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view-eighth:hover p {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.2s;
   -moz-transition-delay: 0.2s;
   -o-transition-delay: 0.2s;
   -ms-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
@keyframes bounceY {
    0% { transform: translateY(-205px);}
    40% { transform: translateY(-100px);}
    65% { transform: translateY(-52px);}
    82% { transform: translateY(-25px);}
    92% { transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { transform: translateY(0px);}
}
@-moz-keyframes bounceY {
    0% { -moz-transform: translateY(-205px);}
    40% { -moz-transform: translateY(-100px);}
    65% { -moz-transform: translateY(-52px);}
    82% { -moz-transform: translateY(-25px);}
    92% { -moz-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -moz-transform: translateY(0px);}
}
@-webkit-keyframes bounceY {
    0% { -webkit-transform: translateY(-205px);}
    40% { -webkit-transform: translateY(-100px);}
    65% { -webkit-transform: translateY(-52px);}
    82% { -webkit-transform: translateY(-25px);}
    92% { -webkit-transform: translateY(-12px);}
    55%, 75%, 87%, 97%, 100% { -webkit-transform: translateY(0px);}
}

.me-bhandari {
	font-size: 20px;
}

